@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-1:"Roboto",
sans-serif;
$white:#fff;
$black:#000;
$primary: #1F547C;
$secondary: #050505;
$text:#9B9DA0;
$heading: #06090B;
$border:#D5D6D9;
$bg:#F0F1F4;
:root {
    scroll-behavior: auto !important;
}